.sessaoBannerSobre{
    background-image: url(/public/assets/banner-sobre.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sessaoSobreNos section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 5rem 0;
}

.sessaoSobreNos p{
    width: 60%;
}

.sessaoSobreNos img{
    width: 50%;
    height: 70vh;
}

@media screen and (max-width: 768px){ /*para celular e tablets*/
    .sessaoSobreNos img{
        width: 100%
    }
}


@media screen and (max-width:1450px) { /*para todos os dispositivos */
    .sessaoBannerSobre{
        background-size: cover;
    }
}